<h3>Change your project's title</h3>

<form action="/projects/<%= @project.id %>/edit" method="post">
  <div class="form-group">
    <input name="_method" type="hidden" value="patch">
    <label for="title">New project title</label>
    <input class="form-control" type="text" name="title">
  </div>
  <button type="submit" class="btn btn-outline-primary">Update Project</button>
</form>

<form action="/projects/<%= @project.id %>/edit" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-outline-primary">Delete Project</button>
</form>
